<div class="container" [@fadeInOnEnter]>
    <p class="fw-bold text-center h1">
        Contact us here!
    </p>
    <hr>

    <div class="background">
        <div class="container d-flex justify-content-center">
            <div class="box text-center">
                <p class="h2 header-contact">Contact info</p>
                <hr>
                <p class="h5">You can contact us by reaching us with one of the following options:  </p>
                <ul>
                    <li>
                        admin@gmail.com
                    </li>
                    <li>
                        0928-9123
                    </li>
                    <li>
                        Street City #1923
                    </li>
                </ul>
                <br>
                <p class="h5">
                    Thank you for your preference! :)
                </p>
            </div>
        </div>
    </div>

</div>