.container {
    padding-top: 3em;
    padding-bottom: 3em;
    p {
        //padding-bottom: 2em;
    }
}

.background {
    background-image: url("/assets/images/flower-background2.jpg");
    background-size: cover;
    height: 45em;

    .header-contact{
        height: 1.3em;
    }

    .box {
        max-width: 30em;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border-radius: 13px;
        margin-top: 5em;
        box-shadow: 0px 3px 3px pink;

        hr{
            color:white;
            height: 2px;
        }

        p{
            color: white;
        }

        li{
            color:white;
            list-style-type: none;
        }


    }
}
