<div [@fadeInOnEnter] class="container">
    <div class="row justify-content-center">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Register</h5>
                    <div class="mb-3">
                        <label for="staticEmail" class="col-form-label">Fullname</label>
                        <div class="col">
                            <input type="text" formControlName="fullName" class="form-control" id="fullName" value="">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="staticEmail" class="col-form-label">Email</label>
                        <div class="col">
                            <input type="text" formControlName="email" class="form-control" id="staticEmail" value="">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-form-label">Password</label>
                        <div class="col">
                            <input type="password" formControlName="password" class="form-control" id="inputPassword">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="radioButtonRole" class="col-sm-3 col-form-label">Roles</label>
                        <div class="col-sm-2">
                            <div class="form-check" *ngFor="let role of roles; let index=index">
                                <input class="form-check-input" type="checkBox" name="role" id="{{index}}"
                                    [checked]="role.isSelected" (change)="onRoleChange(role.role)">
                                <label class="form-check-label" for="{{index}}">
                                    {{role.role}}
                                </label>
                            </div>

                        </div>
                    </div>

                    <div class="mb-3 row">
                        <button type="submit" class="btn btn-primary"
                            [disabled]="!registerForm.valid || !isRoleSelected()">Register</button>
                    </div>

                </div>
            </div>
        </form>
    </div>


</div>