<p>add-product works!</p>
<div class="row justify-content-center">
    <form [formGroup]="addProductForm" (ngSubmit)="onSubmit(content)" class=" col-sm-4 ">
        <div class="card">
            <div class="card-header">
                Add product
            </div>
            <div class="card-body">

                <div class="mb-3">
                    <label for="productIdInput" class="form-label">Product ID</label>
                    <input formControlName="productId" name="productId" type="number" class="form-control" id="productIdInput" placeholder="Product ID">
                </div>

                <div class="mb-3">
                    <label for="productNameInput" class="form-label">Product Name</label>
                    <input formControlName="productName" name="productName" type="text" class="form-control" id="productNameInput" placeholder="Product name">
                </div>

                <div class="mb-3">
                    <label for="descriptionInput" class="form-label">Description</label>
                    <input formControlName="description" name="description" type="text" class="form-control" id="descriptionInput" placeholder="Description">
                </div>

                <div class="mb-3">
                    <label for="coverInput" class="form-label">Cover URL</label>
                    <input formControlName="cover" name="cover" type="text" class="form-control" id="coverInput" placeholder="Cover URL">
                </div>

                <div class="mb-3">
                    <label for="categoryInput" class="form-label">Category</label>
                    <select formControlName="category" name="category" class="form-select" aria-label="Default select example" id="categoryInput" (change)="onChangeCategory($event)">
                        <option [ngValue]="null">Choose a Category</option>
                        <option *ngFor="let category of categories" [value]="category.categoryId">{{ category.categoryId}} - {{ category.categoryName
                            }}
                        </option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="priceInput" class="form-label">Price</label>
                    <input formControlName="price" name="price" type="number" class="form-control" id="priceInput" placeholder="">
                </div>

                <div class="mb-3">
                    <label for="quantityInput" class="form-label">Quantity</label>
                    <input formControlName="quantity" name="quantity" type="number" class="form-control" id="quantityInput"
                        placeholder="">
                </div>

                <div class="mb-3" style="text-align: center;">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>

            </div>
        </div>
    </form>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Success!</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <p> Product Added Sussessfully!</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close()">OK!</button>
    </div>
</ng-template>