.coverImage {
    height: 12em;
    width: 13em;
}

.cards {
    padding-bottom: 3em;
}

.container {
    padding-top: 3em;
}

.title {
    border-radius: 25px;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(186, 186, 205, 1) 71%);
}


@media (max-width: 991px) {
    .coverImage {
        height: 4em;
        width: 5em;
    }

    .card-body {
        height: 12em;
    }

    .btn {
        border-radius: 15px;
    }
}

