<div [@fadeInOnEnter] class="container">
    <div class="text-center title">
        <p [@fadeInRightOnEnter] class="h1">Products &#10084;</p>
    </div>
    <hr>
    <div class="row row-cols-3">
        <div class="col cards rounded" [@fadeInRightOnEnter] *ngFor="let product of products, index as i">
            <div class="card shadow" (mouseover)="toggle(i)" (mouseleave)="toggleMouseLeave(i)" [@makeCardBigger]="isImageBig[i] ? 'big' : 'normal'">
                <div class="card-header">
                    {{product.productName}}
                </div>
                <div class="image">
                    <div class="container text-center" *ngIf="product.coverUrl; else noImageFound">
                        <img src={{product.coverUrl}} class="card-img-top coverImage" alt="...">
                    </div>
                </div>
                <hr>
                <div class="card-body text-center">
                    <p>{{ product.productName}}</p>
                    <p class="fw-bold">${{ product.price}}</p>
                    <div class="availability">
                        <button type="button" (click)="selectProduct(product.productId)"
                            class="btn btn-success">Check!</button>
                    </div>

                    <div class="availability-footer" *ngIf="product.quantity > 0; else noAvailable">

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


<ng-template #noImageFound>
    <div class="container text-center">
        <img src="https://user-images.githubusercontent.com/24848110/33519396-7e56363c-d79d-11e7-969b-09782f5ccbab.png"
            class="card-img-top coverImage" alt="...">
    </div>
</ng-template>

<ng-template #noAvailable>
    <div class="availability-footer">
        <small class="text-danger"> This product is not Available. Please wait until we restock.</small>
    </div>
</ng-template>