<div class="container">
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of cartList">
                <th scope="row">{{product.productId}}</th>
                <td>{{product.productName}}</td>
                <td>{{product.price}}</td>
                <td>{{product.quantity}}</td>
                <td>
                    <button type="button" (click)="removeItem(product)" class="btn btn-danger btn-sm"><i
                            class="bi bi-trash-fill"></i></button>

                </td>
            </tr>
        </tbody>
    </table>
    <div class="container">
        <p class="fw-bold">Total: {{grandTotal}}</p>
    </div>

    <div class="container">
        <button type="button" (click)="shopNow(content)" class="btn btn-success btn-sm">Shop now!</button>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Success!</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <p> Purchase Successful!</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close()">OK!</button>
    </div>
</ng-template>