<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a [@bounce]="isBouncing[0]" (click)="toggleBouncing(0)" routerLink="/home" class="navbar-brand"><i class="bi bi-shop"></i> Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="bi bi-arrows-angle-expand"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" *ngIf="!isUserLogin" aria-current="page" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!isUserLogin" routerLink="/register">Register</a>
        </li>

        <li class="nav-item rounded profile-nav" [@bounce]="isBouncing[1]" (click)="toggleBouncing(1)">
          <a class="nav-link" *ngIf="isUserLogin" routerLink="/profile">{{email}}</a>
        </li>

        <li class="nav-item" [@bounce]="isBouncing[2]" (click)="toggleBouncing(2)">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>

        <li class="nav-item dropdown" (click)="toggleBouncing(4)">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Explore
          </a>
          <ul [@bounce]="isBouncing[4]" class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngFor="let category of categoryList"> <a class="dropdown-item"
                (click)="selectCatalog(category.categoryId)"><i class="bi bi-bag-dash"></i>
                {{category.categoryName}}s</a> </li>
          </ul>
        </li>

        <li class="nav-item dropdown" *ngIf="isUserLogin" (click)="toggleBouncing(5)">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Account
          </a>
          <ul [@bounce]="isBouncing[5]"  class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/profile"><i class="bi bi-person-square"></i> My profile</a></li>
            <li><a class="dropdown-item" routerLink="/send-application"><i class="bi bi-briefcase-fill"></i>
                Application</a></li>
            <li><a class="dropdown-item" routerLink="/history"><i class="bi bi-clock-history"></i> History</a></li>
            <li><a class="dropdown-item" *ngIf="isUserLogin && isAdmin" routerLink="/admin-board"><i
                  class="bi bi-tools"></i> Admin Tools</a></li>
            <li> <a class="dropdown-item" [class.disabled]="isUser" *ngIf="isUserLogin && !isUser"
                routerLink="/all-user-managment"><i class="bi bi-person-lines-fill"></i> All User</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" *ngIf="isUserLogin" routerLink="/login" (click)="onLogout()"> <i
                  class="bi bi-box-arrow-right"></i> Logout</a></li>
          </ul>
        </li>

        <li class="nav-item" [@bounce]="isBouncing[3]" (click)="toggleBouncing(3)">
          <a class="nav-link" *ngIf="isUserLogin" routerLink="/cart">Cart</a>
        </li>

      </ul>

    </div>
  </div>
</nav>



<router-outlet></router-outlet>

<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <a routerLink="/about-this-app">
          <h6 class="text-uppercase mb-4 font-weight-bold">misa301222</h6>
        </a>
        <p>Store using Angular 12 and .NET 5
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
        <li *ngFor="let category of categoryListFooter" class="footer-list">
          <a (click)="selectCatalog(category.categoryId)">
            {{category.categoryName}}s
          </a>
        </li>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
        <p>
          <a *ngIf="isUserLogin" routerLink="/profile">Your Account</a>
        </p>
        <p>
          <a routerLink="/team">Become part of our team</a>
        </p>
        <p>
          <a routerLink="/help" href="#!">Help</a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p>
          <a routerLink="/contact">
            About us
          </a>
          <!-- <mdb-icon fas icon="home" class="mr-3"></mdb-icon> New York, NY 10012, US -->
        </p>
        <p>
          <!-- <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> info@example.com -->
        </p>
        <p>
          <!-- <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> + 01 234 567 88 -->
        </p>
        <p>
          <!-- <mdb-icon fas icon="print" class="mr-3"></mdb-icon> + 01 234 567 88 -->
        </p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left">© 2021 Copyright:
          <a routerLink="/about-this-app"><strong> misa301222</strong></a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a floating="true" size="sm" class="rgba-white-slight mx-1">
                <!-- <mdb-icon fab icon="facebook"></mdb-icon> -->
              </a>
            </li>
            <li class="list-inline-item">
              <a floating="true" size="sm" class="rgba-white-slight mx-1">
                <!-- <mdb-icon fab icon="twitter"></mdb-icon> -->
              </a>
            </li>
            <li class="list-inline-item">
              <a floating="true" size="sm" class="rgba-white-slight mx-1">
                <!-- <mdb-icon fab fab icon="google-plus"></mdb-icon> -->
              </a>
            </li>
            <li class="list-inline-item">
              <a floating="true" size="sm" class="rgba-white-slight mx-1">
                <!-- <mdb-icon fab icon="linkedin"></mdb-icon> -->
              </a>
            </li>
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->