.header-text {
    margin-top: 1em;
    text-align: center;
}

.container {
    padding-top: 2em;
    margin-bottom: 15em;
}

.rejected-element {
    background-color: #FCD2D1;
}

.accepted-element {
    background-color: #CDF2CA;
}

.pending-element {
    background-color: #FFD07F;
}
