<div [@fadeInOnEnter] class="container">

    <div [@bounceInLeftOnEnter] class="pending-div" *ngIf="applicationsPendingList.length > 0">
        <div class="row align-items-start">
            <div class="col">

            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>

        </div>
        <p class="h2 header-text">
            Pending Applications
        </p>
        <label class="fw-bold fst-italic">Search Pending: </label><input type="text" class="form-control" placeholder="Search..." [(ngModel)]="filterTermPending">
        <hr>
        <br>
        <div class="list-group" *ngFor="let application of applicationsPendingList| filter:filterTermPending">
            <a (click)="viewApplication(application.employmentApplicationId, content)"
                class="list-group-item list-group-item-action pending-element">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{application.email}}</h5>
                    <small class="text-muted">{{application.applicationDate}}</small>
                </div>
                <p class="mb-1">{{application.fullName}}</p>
            </a>
        </div>
    </div>

    <div [@bounceInLeftOnEnter] class="accepted-div" *ngIf="applicationsAcceptedList.length > 0">
        <p class="h2 header-text">
            Accepted Applications
        </p>
        <label class="fw-bold fst-italic">Search Accepted: </label><input type="text" class="form-control" placeholder="Search..." [(ngModel)]="filterTermAccepted">
        <hr>
        <br>
        <div class="list-group" *ngFor="let application of applicationsAcceptedList | filter:filterTermAccepted">
            <a (click)="viewApplication(application.employmentApplicationId, content)"
                class="list-group-item list-group-item-action accepted-element">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{application.email}}</h5>
                    <small class="text-muted">{{application.applicationDate}}</small>
                </div>
                <p class="mb-1">{{application.fullName}}</p>
            </a>
        </div>
    </div>

    <div [@bounceInLeftOnEnter] class="rejected-div" *ngIf="applicationsRejectedList.length > 0">
        <p class="h2 header-text">
            Rejected Applications
        </p>
        <label class="fw-bold fst-italic">Search Rejected: </label><input type="text" class="form-control" placeholder="Search..." [(ngModel)]="filterTermRejected">
        <hr>
        <br>
        <div class="list-group" *ngFor="let application of applicationsRejectedList | filter:filterTermRejected">
            <a (click)="viewApplication(application.employmentApplicationId, content)"
                class="list-group-item list-group-item-action rejected-element">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{application.email}}</h5>
                    <small class="text-muted">{{application.applicationDate}}</small>
                </div>
                <p class="mb-1">{{application.fullName}}</p>
            </a>
        </div>
    </div>

</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Application</h4>
    </div>
    <div class="modal-body">
        <div class="container-edit">
            <form [formGroup]="viewApplicationForm" (ngSubmit)="evaluateApplication($event.submitter.id)">
                <div class="card">
                    <div class="card-header fw-bold">
                        Application for Job
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="emailInput" class="form-label">Email</label>
                            <input formControlName="email" name="email" type="text" class="form-control"
                                id="emailInput">
                        </div>

                        <div class="mb-3">
                            <label for="fullNameInput" class="form-label">Full Name</label>
                            <input formControlName="fullName" name="fullName" type="text" class="form-control"
                                id="fullNameInput" placeholder="Full Name">
                        </div>

                        <div class="mb-3">
                            <label for="productIdInput" class="form-label">Phone Number</label>
                            <input formControlName="phoneNumber" name="phoneNumber" type="text" class="form-control"
                                id="phoneNumberInput" placeholder="Phone Number">
                        </div>

                        <div class="mb-3">
                            <label for="addressInput" class="form-label">Address</label>
                            <input formControlName="address" name="address" type="text" class="form-control"
                                id="addressInput" placeholder="Address">
                        </div>

                        <div class="mb-3">
                            <label for="scholarshipInput" class="form-label">Scholarship</label>
                            <input formControlName="scholarship" name="scholarship" type="text" class="form-control"
                                id="scholarshipInput" placeholder="Scholarship">
                        </div>

                        <div class="mb-3">
                            <label for="employmentDesiredInput" class="form-label">Employment Desired</label>
                            <input formControlName="employmentDesired" name="employmentDesired" type="text"
                                class="form-control" id="employmentDesiredInput" placeholder="Employment Desired">
                        </div>

                        <div class="mb-3">
                            <label for="statusInput" class="form-label">Status</label>
                            <input formControlName="status" name="status" type="text" class="form-control"
                                id="statusInput" placeholder="Status">
                        </div>

                        <div class="mb-3 d-flex justify-content-evenly">
                            <button *ngIf="statusId != 2" id="btnAccept" type="submit"
                                class="btn btn-primary">Accept!</button>
                            <button *ngIf="statusId != 3" id="btnReject" type="submit"
                                class="btn btn-danger">Reject!</button>
                            <button *ngIf="statusId != 1" id="btnPending" type="submit" class="btn btn-warning">Send
                                back to pending</button>
                        </div>

                    </div>
                </div>
            </form>

        </div>
    </div>
</ng-template>