<div class="row justify-content-center">
    <form [formGroup]="registerGameForm" (ngSubmit)="addGame(content)" class=" col-sm-4 ">
        <div class="card">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="inputIdGame" class="form-label">Game Id</label>
                    <input formControlName="idGame" type="number" class="form-control" id="inputIdGame"
                        placeholder="Game id">
                </div>

                <div class="mb-3">
                    <label for="inputGameName" class="form-label">Game Name</label>
                    <input formControlName="gameName" type="text" class="form-control" id="inputGameName"
                        placeholder="Name of the game">
                </div>

                <div class="mb-3">
                    <label for="inputPublisher" class="form-label">Publisher</label>
                    <input formControlName="publisher" type="text" class="form-control" id="inputPublisher"
                        placeholder="Publisher of the game">
                </div>

                <div class="mb-3">
                    <label for="inputPrice" class="form-label">Price</label>
                    <input formControlName="price" type="number" class="form-control" id="inputPrice"
                        placeholder="Price of the game USD">
                </div>

                <div class="mb-3">
                    <label for="inputReleaseDate" class="form-label">Release Date</label>
                    <input formControlName="releaseDate" type="date" class="form-control" id="inputReleaseDate"
                        placeholder="name@example.com">
                </div>

                <div class="mb-3">
                    <label for="categoryInput" class="form-label">Category</label>
                    <select formControlName="category" name="category" class="form-select" aria-label="Default select example" id="categoryInput" (change)="onChangeCategory($event)">
                        <option [ngValue]="null">Choose a Category</option>
                        <option *ngFor="let category of categories" [value]="category.categoryId">{{ category.categoryId}} - {{ category.categoryName
                            }}
                        </option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="inputCoverUrl" class="form-label">Cover Url</label>
                    <input formControlName="coverUrl" type="text" class="form-control" id="inputCoverUrl"
                        placeholder="Url of image">
                </div>

                <div class="mb-3">
                    <label for="inputDescription" class="form-label">Description</label>
                    <input formControlName="description" type="text" class="form-control" id="inputDescription"
                        placeholder="Desc">
                </div>

                <div class="mb-3">
                    <label for="inputQuantity" class="form-label">Quantity</label>
                    <input formControlName="quantity" type="number" class="form-control" id="inputQuantity"
                        placeholder="Quantity">
                </div>

                <div class="mb-3" style="text-align: center;">
                    <button type="submit" class="btn btn-primary" [disabled]="!registerGameForm.valid">Register</button>
                </div>

            </div>
        </div>
    </form>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Success!</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <p> Game Successfully added into the database!</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close()">OK!</button>
    </div>
</ng-template>