<div [@fadeInOnEnter] class="container">
    <div class="card">
        <div class="card-body text-center">
            <p class="fs-2 text fw-bold"> Admin Tools</p>
        </div>
    </div>

    <!--
    <div class="list-group">
        <a routerLink="/add-game" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Add Game</h5>
                <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Add new games in database.</p>
        </a>
        <a routerLink="/show-game" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Show Games</h5>
                <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Show current games in database.</p>
        </a>
    </div>
-->
    <hr>

    <div class="list-group">
        <a routerLink="/add-product" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Add Product</h5>
                <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Add new products in database</p>
        </a>
        <a routerLink="/show-product" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Show Products</h5>
                <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Show all products in database.</p>
        </a>
    </div>

    <hr>

    <div class="list-group">
        <a routerLink="/add-category" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Add Category</h5>
                <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Add new categories in database</p>
        </a>
        <a routerLink="/show-category" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Show Categories</h5>
                <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Show all categories in database.</p>
        </a>
    </div>
</div>