<div [@fadeInOnEnter] class="container">
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th scope="col">Category ID</th>
                <th scope="col">Category Name</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let category of categories">
                <th scope="row">{{category.categoryId}}</th>
                <td>{{category.categoryName}}</td>
                <td>
                    <button type="button" class="btn btn-warning btn-sm"><i class="bi bi-pencil-fill"></i></button>
                    <button type="button" class="btn btn-danger btn-sm"><i class="bi bi-trash-fill"></i></button>
                </td>
            </tr>           
        </tbody>
    </table>
</div>

